/*  couleur 1: #FFE7B1; couleur2: #5977B2; couleur 3: #B1CCFF; couleur4 : #B29C6A; */

body{
	font-family: 'Bad Script', cursive;
	background-color:#FFE7B1;
}
h1{
	font-size:45px;
	color:#FFE7B1;
}
p{
	font-size:20px;
}
header{
	background-color:#5977B2;
	color:#FFE7B1;
	border-bottom: 5px dotted #FFE7B1;
}
.block_1{
	height:500px;
	background-image:url("elements/kitch1.png");
	background-position: 43% -1%;
	background-repeat: no-repeat;
	background-size: 64% 102%;
}
footer{
	background-color:#5977B2;
	height:100px;
	color:#FFE7B1;
	border-top: 5px dotted #FFE7B1;
}
.no_padding{
	padding:0px;
}
.cookie_img{
	width: 90%;
	height: 90%;
	margin-top:80px;
}
.cookie_img:active{
	width: 100%;
	height: 100%;
	margin-top:65px;
}
.block_score{
	height:150px;
}
.score1{
	border:5px double #5977B2;
	border-radius: 25px 25px 25px 25px;
	margin-top:35px;
    	height:auto;
	width:150px;
	font-size:30px;
}

.bouton{
	height:75px;
	width:125px;
	background-color:#FFE7B1;
	border:5px double #5977B2;
	border-radius: 25px 25px 25px 25px;
	margin-left:100px;
}
.fleur{
	height:40px;
	background-image:url("elements/fleurs1.png");
	background-size:40px 40px;
}
