/*  couleur 1: #FFE7B1; couleur2: #5977B2; couleur 3: #B1CCFF; couleur4 : #B29C6A; */

body{
	font-family: 'Bad Script', cursive;
	background-color:#FFE7B1;
}
h1{
	font-size:40px;
	color:#5977B2;
}
p{
	font-size:20px;
}
header{
	border-bottom: 5px dotted #5977B2;
	
}
.block_1{
	height:500px;
}
footer{
	background-color:#5977B2;
	height:100px;
	color:#FFE7B1;
	border-top: 5px dotted #FFE7B1;
}
.no_padding{
	padding:0px;
}
.cookie_img{
	width: 95%;
	height: 95%;
	margin-top:100px;
}
.score{
	height:100px;
}
.score1{
	margin-top:30px;
	margin-left:520px;
	border:5px double #5977B2;
}
.chat{
	height:auto;
	width:150px;
	font-size:30px;
}
